* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.25rem;
    background-color: whitesmoke;
  }
  .wrapper {
    min-height: 100vh;
    position: relative;
  }
  a {
    color: inherit;
  }
  a:hover {
    text-decoration: none;
    color: inherit;
  }
  a:active {
    color: inherit;
    text-decoration: none;
  }
  a:link {
    color: inherit;
    text-decoration: none;
  }
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  header {
    background-color: none;
    width: 100%;
    height: 54px;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-size: 1.75rem;
    z-index: 999;
    border-bottom: 2px solid #e6e4e4;
  }
  .navwrap {
    padding: 1rem 7%;
  }
  #menuBtn {
    display: none;
    background-color: rgb(225, 225, 225);
    font-size: 2rem;
    border: whitesmoke;
    border-radius: 3px;
  }
  .logo {
    font-size: 2.25rem;
  }
  label {
    margin: 0;
  }
  .contain {
    padding: 0 7% 2.5rem ;
  }
  .navlist {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
  .searchinput {
    width: 70%;
    border:1px solid gainsboro;
    border-radius: 5px;
    background-color: ghostwhite;
    padding: 0 1rem;
    color: black;
  }
  .searchinput:focus {
    outline: none;
  }
  .searchinput::-webkit-input-placeholder {
    text-align: center;
  }
  .carousel{
    margin-bottom: 2.5rem;
    /* box-shadow: 200px 0 0 0 rgba(26, 25, 28, 0.97), -200px 0 0 0 rgba(26, 25, 28, 0.97); */
  }
  .slideImg{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
  }
  .homerow {
    display: flex;
    justify-content: center;
  }
  .homecol-1 {
    padding-right: 2rem;
    width: 72%;
    justify-content: center;
  }
  .homecol-2 {
    display: block;
    width: 28%;
    padding: 0 0 0 40px;
  }
  .imgbox {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .moviewrap {
    display: flex;
    gap: 2rem;
  }
  .movieposter {
    width: 100%;
  }
  .movieResults {
    width: 70%;
  }
  .scroll::-webkit-scrollbar {
    height: 6px;
    width: 4px;
  }
  .scroll::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
  }
  
  .media {
    display: flex;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
    margin: 1.5rem 0;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    color: black;
  }
  .searchedImg{
      width: 250px;
      height: 375px;
      border-radius:5px;
  }
  .video {
    width: 100%;
    height: 50vh;
  }
  .roww {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0;
  }
  .pd2 {
    padding: 2.5rem 0;
  }
  article {
    width: 24%;
    overflow: hidden;
    position: relative;
    color: #D4D4D4;
  }
  article:hover .infoContainer{
    display: block;
    background-color: rgba(26, 25, 28, 0.9);
  }
  .poster {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
  }
  .infoContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: none;
    display: none;
    border-radius: 5px;
    overflow-y: scroll;
  }
  .asideMovie{
    color: #fff;;
  }
  .Thumbnail {
    width: 20%;
    overflow: hidden;
    border-radius: 5px;
  }
  .Thumbnail:hover .ThumbnailImg{
    transform:scale(1.1);
  }
  .ThumbnailImg {
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s linear;
  }
  .loadbox {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .txtline2{
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .descOverview {
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }
  .loadbtn {
    width: 40%;
    background-color: purple;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    color: #fff;;
  }
  footer {
    width: 100%;
    height: 3rem;
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: rgb(20, 21, 23);
    justify-content: center;
  }
  .tag {
    background-color: rgba(20, 21, 23, 0.8);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: calc(100% - 1.25rem);
  }
  .green {
    color: limegreen;
  }
  .orange {
    color: orange;
  }
  .red {
    color: red;
  }
  .genrestag {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    padding: 0 0.5rem;
  }
  .linetag {
    position: relative;
    padding-left: 1rem;
    font-size: 2.25rem;
    margin: 0 0 2.75rem;
    display: flex;
    justify-content: space-between;
    
  }
  .linetag::after {
    position: absolute;
    left: 0;
    top: -5px;
    height: 30px;
    width: 3.5px;
    background: #e53637;
    content: "";
  }
  .viewMore{
    font-size: 1.25rem;
    text-align: center;
    align-items: center;
    display: flex;
    border: 1px solid #e4e4e4;
    border-radius: 25px;
    padding: 0.25rem 1rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    position: relative;
    bottom: -5px;
    left: 0;
    font-weight: 500;
  }
  .viewMore:hover{
    border: 1px solid #98989C;
  }
  .viewcount {
    padding: 1px 3px;
    background-color: #3d3d3d;
    font-size: 1.2rem;
    border-radius: 4px;
  }
  section {
    margin-bottom: 2.75rem;
  }
  .gray {
    color: gray;
  }
  @media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
    .navtop {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .navlist {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    .navlist li:hover{
      font-weight: bold;
    }
    .navlist > li {
      padding: 3px;
    }
    #formdiv {
      width: 100%;
      text-align: center;
      padding-top: 3px;
    }
    .searchinput {
      width: 40%;
    }
    #menuBtn {
      display: block;
    }
    .hideMenu {
      display: none;
    }
    .imgbox {
      flex-wrap: wrap;
      gap: 1.5rem;
    }
    article {
      width: 45%;
    }
    .contain {
      padding: 0 5% 2rem;
    }
    .navwrap {
      padding: 1rem 5%;
    }
    .homerow {
      display: block;
    }
    .homecol-1 {
      width: 100%;
      padding: 0;
    }
    .homecol-2 {
      width: 100%;
      padding: 0;
    }
    .Thumbnail {
      width: 28%;
    }
    .moviewrap {
      display: block;
    }
    .movieposter {
      width: 50%;
    }
    .movieResults {
      width: 100%;
    }
    .searchedImg{
        width: 200px;
        height: 300px;
    }
  }
  @media screen and (max-width: 425px) {
    .imgbox{
      gap: 1rem;
    }
    .roww {
      gap: 1.5rem;
    }
    .Thumbnail {
      width: 47%;
    }
    .media{
        font-size: 1.5rem;
    }
    .descOverview{
        -webkit-line-clamp: 4;
    }
    .descTitle{
        font-size: 1.75rem;
    }
    .searchedImg{
        width: 125px;
        height: 188px;
    }
  }